/* Estilos para el header y footer*/

/* Estilos para la página de inicio*/

/* Estilos para la migaja de pan (Común para PLP, PDP y Cart)*/
.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #3aa5d6;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Estilos para la PLP*/

/* Estilos para la PDP*/
 
/* Estilos para la página Carrito de compra Abajo*/ 
main {
    padding: 20px;
}



.cartpage .container {
    display: flex;
}

.cartpage .products {
    flex: 2;
    margin-right: 20px;
}

.cartpage .product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cartpage .product img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.cartpage .product-name {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.cartpage .shipping-method {
    margin-bottom: 10px;
}

.cartpage .shipping-method label {
    display: block;
    margin-bottom: 5px;
}

.cartpage .select-wrapper {
    margin-bottom: 10px;
}

.cartpage .summary {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cartpage .summary h2 {
    margin-top: 0;
}

.cartpage .summary ul {
    list-style: none;
    padding: 0;
}

.cartpage .summary ul li {
    margin-bottom: 10px;
}

.cartpage .checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #81d2f7;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.cartpage .checkout-button:hover {
    background-color: #3aa5d6;
}

@media (max-width: 768px) {
    .cartpage .container {
        flex-direction: column;
    }

    .cartpage .products {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
